@import '../../theme/variables.scss';

header {
	display: flex;
	background-color: $gray-dark-color;

	.dashboard {
		height: $normal-header-height;
		user-select: none;

		.dashboard-title {
			letter-spacing: 0.4px;
			line-height: $normal-header-height;
			padding: 0 20px;
			color: $white-color;
		}

		&:hover {
			background-color: $gray-dark-color-hover;
		}

		&.active {
			background-color: $gray-dark-color-hover;
			border-bottom: solid px-to-rem(3px) $blue-color;

			.dashboard-title {
				color: $blue-color;

				&:hover {
					background-color: transparent;
				}
			}
		}
	}
}
