$gray-dark-color: #464547;
$gray-light-color: #f6f6f6;
$blue-color: #39c2d7;
$gray-dark-color-hover: #3c3b3d;
$white-color: #fff;

$base-font-size: 16px;
$min-page-width: 1200px;
$normal-header-height: 60px;

// fonts
$oswald-font-name: 'Oswald';
$source-sans-pro-font-name: 'SourceSansPro';

@mixin full-page-image($image) {
    position: fixed;
    top: $normal-header-height;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url($image);
    background-size: cover;
}
